.citation a {
  color: #222222;
  font-weight: 500;
  border-bottom: 1px dotted #bbb;
}

.citation {
  color: #222222;
  font-weight: 500;
  border-bottom: 1px dotted #bbb;
}

/* Reference list stays normal */
#refs a {
  color: #222222;
}

/* All Quarto cross-references */
a.quarto-xref {
  font-weight: 500;
  color: #222222;
  text-decoration: underline;
}

/* url links */

a {
  color: #222222;
  text-decoration: underline;
  font-weight: 500;
}
